---
---
<section class="reveal bg-[#1D2F40] py-[3em] px-[1em] overflow-hidden">
  <div class="max-w-[1340px] w-full mx-auto px-[2em]">
    <div class="relative w-full overflow-hidden">
      <div class="flex whitespace-nowrap animate-marquee items-center gap-[75px] w-max">
        <!-- 12 Client Logos -->
        <img src="/images/brands/Super-League-1.png" alt="Super League" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/brands/JW-Marriott.png" alt="JW Marriott" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/brands/Newborns-VN.png" alt="Newborns VN" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/brands/IronMan.png" alt="IronMan" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/brands/Base.png" alt="Base" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/brands/COEUR.png" alt="COEUR" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/Waialae-Country-Club-1-r75bg4ll8ipf0qlvhtef2jaqg1yugj9rxen5eyp4oe.png" alt="Waialae Country Club" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/Royal-Hawaiian-Golf-1-r75bgc4ar6zplmay9wnfmhef74xs643mmfv196dzam.png" alt="Royal Hawaiian Golf" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/OAKLEY-2-r75bgdzz4v2a8u87yxgorgxcdwoilib3ap607qb6y6.png" alt="OAKLEY" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/Ko-Olina-2-r75bgip6318puw1e7hhtlxqncu1cnztqzcffm44832.png" alt="Ko Olina" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/Diamond-Bakery-3-r75bgq7vlpj0frqgzkqu5vuc3x0adknlodnbgbt2pa.png" alt="Diamond Bakery" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/HONOLULU-2-r75bgoc781gfsjt7ajxl0wbex59jy6g504cchrvv1q.png" alt="HONOLULU" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />

        <!-- Duplicated for seamless loop -->
        <img src="/images/brands/Super-League-1.png" alt="Super League" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/brands/JW-Marriott.png" alt="JW Marriott" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/brands/Newborns-VN.png" alt="Newborns VN" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/brands/IronMan.png" alt="IronMan" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/brands/Base.png" alt="Base" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/brands/COEUR.png" alt="COEUR" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/Waialae-Country-Club-1-r75bg4ll8ipf0qlvhtef2jaqg1yugj9rxen5eyp4oe.png" alt="Waialae Country Club" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/Royal-Hawaiian-Golf-1-r75bgc4ar6zplmay9wnfmhef74xs643mmfv196dzam.png" alt="Royal Hawaiian Golf" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/OAKLEY-2-r75bgdzz4v2a8u87yxgorgxcdwoilib3ap607qb6y6.png" alt="OAKLEY" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/Ko-Olina-2-r75bgip6318puw1e7hhtlxqncu1cnztqzcffm44832.png" alt="Ko Olina" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/Diamond-Bakery-3-r75bgq7vlpj0frqgzkqu5vuc3x0adknlodnbgbt2pa.png" alt="Diamond Bakery" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
        <img src="/images/HONOLULU-2-r75bgoc781gfsjt7ajxl0wbex59jy6g504cchrvv1q.png" alt="HONOLULU" class="h-12 md:h-16 object-contain brightness-0 invert" loading="lazy" />
      </div>
    </div>
  </div>
</section>
