---
---
<section class="reveal py-[52.8px] bg-navy-900 border-t border-white/10 overflow-hidden">
  <div class="max-w-[1340px] w-full mx-auto px-[10px]">
    <div class="relative w-full overflow-hidden flex items-center">
      <!-- To ensure smooth scrolling, we double the items and use a very long width container -->
      <div class="flex whitespace-nowrap animate-marquee items-center gap-10 md:gap-16 opacity-70 w-max">
        <img src="/images/brands/IronMan.png" alt="IronMan" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        <img src="/images/brands/Base.png" alt="Base Performance" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        <img src="/images/brands/COEUR.png" alt="Coeur" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        <img src="/images/Waialae-Country-Club-1-r75bg4ll8ipf0qlvhtef2jaqg1yugj9rxen5eyp4oe.png" alt="Waialae" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        <img src="/images/Royal-Hawaiian-Golf-1-r75bgc4ar6zplmay9wnfmhef74xs643mmfv196dzam.png" alt="Royal Hawaiian" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        <img src="/images/OAKLEY-2-r75bgdzz4v2a8u87yxgorgxcdwoilib3ap607qb6y6.png" alt="Oakley" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        
        <!-- Duplicated items for seamless scrolling -->
        <img src="/images/brands/IronMan.png" alt="IronMan" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        <img src="/images/brands/Base.png" alt="Base Performance" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        <img src="/images/brands/COEUR.png" alt="Coeur" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        <img src="/images/Waialae-Country-Club-1-r75bg4ll8ipf0qlvhtef2jaqg1yugj9rxen5eyp4oe.png" alt="Waialae" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        <img src="/images/Royal-Hawaiian-Golf-1-r75bgc4ar6zplmay9wnfmhef74xs643mmfv196dzam.png" alt="Royal Hawaiian" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
        <img src="/images/OAKLEY-2-r75bgdzz4v2a8u87yxgorgxcdwoilib3ap607qb6y6.png" alt="Oakley" class="h-10 md:h-14 object-contain brightness-0 invert hover:opacity-100 hover:scale-110 transition-all cursor-pointer" />
      </div>
    </div>
  </div>
</section>
